/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

.container{
	padding: 3em 5em;
	max-width: 40em;
}

img{max-width: 100%;
    height: auto;}

.post p,cite,li, .date{
	font-family: Hoefler Text, "Times New Roman", Times, serif;
	font-size: 1.25em;
	line-height: 1.6em;
	margin: 0.8em 0 0.8em 0;
}

em {font-style:italic}
   strong {font-weight:bold;}

h1,h2,h3, .homeposttitle{
	font-family:Helvetica,sans-serif;
	line-height: 1.25;
	margin: 0.8em 0 0.8em 0;
	font-weight: 900;}

h1{font-size: 1.8em;}

h2{font-size: 1.6em;}

h3 {font-size: 1.3em;}

.homeposttitle{font-size: 1em;padding-left: 1em;}
.title{font-size: 3em}
a{color: black;text-decoration:none;}
.post a{text-decoration: underline;}
.nick{font-weight: 100;margin-right:-0.27em;}
a:visited {color: black;}
a:hover {color: grey;}
blockquote{
	border-left:4px solid #A5ABAB;
	padding:0 0.9em 0 0.9em;
}

.post ul {list-style-type:disc;margin-left: 1em;}
.post ol{list-style-type: decimal;margin-left: 1.5em;}
hr {margin: 3em 2em 3em 2em;}

.date {color: #A5ABAB;font-style:italic;}
.homedate {font-style: italic;}


@media (max-width: 800px) { 
h1{padding: 0 0;margin: 0.3em 0 0.3em;}
.container{padding: 0 1em;}
}

